@import 'base/variables';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@300;400;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #F9F7F4;
}

.container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.divider {
    width: 155px;
    height: 3px;
    border-radius: 40px;
    background: rgba(27, 31, 43, 0.12);
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/titles';
@import 'blocks/buttons';
@import 'blocks/menu';
@import 'blocks/media';