.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    &__icon {
        padding-left: 120px;
       
    }
    
    &__items {
        width: 680px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-right: 120px;
     
    }
 


}