.title {
    width: 656px;
    color: #28514F;
    text-align: center;
    margin:120px auto 0 auto;
    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 55.68px; 
}

.subtitle {
    width: 552px;
    margin:38px auto 0 auto;
    color: #65727B;
    text-align: center;
    font-family: Source Sans;
    font-size: 21px;
    font-weight: 300;
    line-height: 31px; 
}